{{#paper-form onSubmit=(action "saveQuestion") as |form|}}
  <div class="layout-row">
    {{form.input label="Title" value=title onChange=(action (mut title)) required=true}}
  </div>
  <div class="layout-row">
    {{form.input textarea=true block=true label="Body" maxlength=150 passThru=(hash rows=5 maxRows=5)
    value=body onChange=(action (mut body))}}
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}
