<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        {{input value=question.title type="text" class="validate" required=true}}
        <label for="title" class="active">Title</label>
      </div>
      <div class="input-field col s12">
        {{textarea value=question.body class="materialize-textarea"}}
        <label for="body" class="active">Additional Details</label>
      </div>
      <div class="col s12">
        <button id="edit-submit-btn" class="btn waves-effect waves-light card-title" type="submit" {{action "editQuestion" question}}>Submit</button>
      </div>
    </div>
  </form>
</div>
