// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.text-capitalize {
  text-transform: capitalize;
}

body {
  padding-bottom: 30px;
}

#edit-submit-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
}
