// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.text-capitalize {
  text-transform: capitalize;
}

body {
  padding-bottom: 30px;
}

#edit-submit-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
}

#answer-edit-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
}

.btn-floating i.up-vote {
  position: relative;
  left: -2px;
  top: -2px;
  font-size: 4rem;
}

.btn-floating i.down-vote {
  position: relative;
  left: -2px;
  top: 2px;
  font-size: 4rem;
}

.vote-section {
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}

// #answer-card {
//   min-height: 250px;
// }
