{{#if session.isAuthenticated}}
  <div class="contaienr">
    <div class="row">
      <div class="col s8 offset-s2">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">Ask a Question</div>
            <div class="collapsible-body">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{/if}}
<div class="container">
  {{#each model as |question|}}
    <div class="row">
      <div class="col s12 m6">
        {{question-tile question=question}}
      </div>
    </div>
  {{/each}}
</div>

{{dom-ready}}
