{{#if session.isAuthenticated}}
  {{question-new session=session saveQuestion='saveQuestion'}}
{{/if}}

<div class="container">
  {{#each model as |question|}}
    <div class="row">
      <div class="col s12 m10 offset-m1">
        {{question-tile question=question}}
      </div>
    </div>
  {{/each}}
</div>
