{{#if session.isAuthenticated}}
  <div class="contaienr">
    <div class="row">
      <div class="col s8 offset-s2">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">Ask a Question</div>
            <div class="collapsible-body">
              <div class="row">
                {{question-new session=session saveQuestion='saveQuestion'}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{dom-ready}}
{{/if}}

<div class="container">
  {{#each model as |question|}}
    <div class="row">
      <div class="col s12 m6">
        {{question-tile question=question}}
      </div>
    </div>
  {{/each}}
</div>
